.projectcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: transparent;
    padding-bottom: 10rem;
}

.projectcard{
    height: 70%;
    width: 100%;
}

.projectImage{
    height: 70rem;
    width: 100rem;
}